<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/reset.css') }}" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}" />

    </head>
<body>
  <div class="header">
  <nav>
    <a href="/">All Blogz</a>
    <a href="/blog">All Post</a>
    {% if session['username'] %}
      <a href="/newpost">Add a Post</a>
      <a href="/logout">Log Out</a> <div class="title small">{{ session['username'] }}</div>
    {% else %}
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    {% endif %}
  </nav>
  <div class="title">
      {{title}}
  </div>
  </div>
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
    <span class="error">{{ message }}</span>
  {% endfor %}
  {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>
