{% extends "base.html" %}

{% block content %}
    <div class="post unit">
    <h1><center>Add a Blog Entry</center></h1>
    <br />
    <br />
    <form method="post" action="/newpost">
        <label>
            Title<br/>
            <input type="text" name="title" size="60" maxlength="120"
              {% if b_title %}
              value = "{{b_title}}"
              {% endif %}
             />
            {% if error_title %}
              <br />
              <h5 style="color: red;"><em>You must enter a title.</em></h5>
            {% endif %}
        </label>
        <br />
        <br />
        <label>
          Your new blog<br />
          <textarea name="blog" width="60%" maxlength="5000" cols="60" rows="10">{% if b_body %}{{b_body}}{% endif %}</textarea>
          {% if error_body %}
            <br />
            <h5 style="color: red;"><em>Your blog must say something.</em></h5>
          {% endif %}
        </label>
        <br />
        <input type="submit" value="Add Entry" />
    </form>
    </div>

{% endblock %}
