{% extends "base.html" %}

{% block content %}
    <div class="post unit">
    <h1><center>Sign Up</center></h1>
    <br />
    <br />
    <form method="post" action="/signup">
        <label>
            Username<br/>
            <input type="text" name="username" size="60" maxlength="120"
              {% if b_username %}
              value = "{{b_username}}"
              {% endif %}
             />
        </label>
        <br />
        <br />
        <label>
          Password<br />
          <input type="password" name="password" size="60" maxlength="120" />
          </label>
        <br />
        <br />
        <label>
          Verify<br />
          <input type="password" name="verify" size="60" maxlength="120" />
          <br />
        <input type="submit" value="Sign Up" />
    </form>
    </div>

{% endblock %}
